img{
    height: 20px;
    width: 20px;
}
.Devconf p{
    font-size: 10px;
    margin: 0;
    margin-left: 2px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}
nav ul li a{ 
           color: black;
           font-size: 13px;
           text-decoration: none; } 
nav ul { 
            display: flex; 
            list-style: none;
            gap:30px;
            margin: 0;
            padding: 0;
}
#FirstButton{
    font-size: 9px;
    color: white;
    background-color: royalblue;
    padding: 2px;
    border-radius: 3px;
    margin-right: 30px;
    border:none;
    height: 28px;
    width: 95px;
}
nav{
    display: flex;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hero{
    width: 1422px;
    height: 700px;
}
.banner{
    position: relative;
}
.banner_content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner_content h1{
    color: white;
    font-size: 60px;
}
.banner_content p{
    color: white;
    width: 650px;
    margin: 20px auto;
}
#SecondButton{
    font-size: 18px;
    color: white;
    background-color: royalblue;
    padding: 2px;
    border-radius: 3px;
    margin-top: 250px;
    border:none;
    height: 40px;
    width: 150px;
}
section h2{
    font-size: 47px;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 38px;
}
.cards{
    border: 1px solid lightgray;
    border-radius: 10px;
}
.cards img{
    width: 100%;
}
.description{
    padding: 20px;
}
.field{
    font-size: 10px;
    color: blue;
}
.position{
    font-size: 10px;
    color: gray;
}
.name{
    margin: 0;
}
.speakers{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.person{
    width: 500px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#secure{
    font-size: 47px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 120px;
}
section h1{
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
.pricing{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card ,.card2{
    width: 370px;
    height:442px;
    border:1px solid lightgray;
    border-radius: 10px;
    padding:30px;
}
.card2{
    background-color: #0f1b2d;
    color: white;
}
.list li{
    margin-bottom: 15px;
}
li::marker{
    color: royalblue;
}
.but{
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid black;
}
hr{
    border: none;
    border-top: 1px solid lightgray;
    margin: 25px 0;
}
.card2 hr{
    border: none;
    border-top: 1px solid gray;
    margin: 25px 0;
}
.price{
    font-size: 50px;
    margin: 10px 0;
    text-align: left;

}
.card2 small{
    color:gray;
}
.card .price{
    color: black;
}
.card2 .price{
    color: white;
}
.card2 .but{
    background-color: royalblue;
    color: white;
    border: none;
}
.card .type , small{
    color: gray ;
}
.card2 .type{
    color: royalblue;
}
.card .standard{
    border: 1px solid royalblue;
    color: royalblue;
}
.newsletter{
    width: 80%;
    margin: 80px auto ;
    background-color: #f7f8ff ;
    border-radius: 15px;
    padding: 60px;
    text-align: center;
}
.newsletter h2{
    font-size: 40px;
    margin-bottom: 15px;
    color: black;
}
.newsletter p{
    width: 60%;
    margin: 0 auto 30px;
    color: gray;
    line-height: 1.6;
}
.newsletter input{
    width: 350px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}
.newsletter button{
    display: block;
    margin: auto;
    padding: 15px 35px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
footer{
    background-color: rgb(3, 3, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 80px;
    color: gray;
}
.footerTexts p{
    color: gray;
    text-decoration: none;
}
.footerTexts{
    display: flex;
    gap: 30px
}
